# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [16]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (`Current_Employee_Names__Salaries__and_Position_Titles.csv`).

In [2]:
# Your code here:
salaries = pd.read_csv("../data/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head

<bound method NDFrame.head of                         Name                              Job Titles  \
0          AARON,  JEFFERY M                                SERGEANT
1            AARON,  KARINA   POLICE OFFICER (ASSIGNED AS DETECTIVE)
2        AARON,  KIMBERLEI R                CHIEF CONTRACT EXPEDITER
3        ABAD JR,  VICENTE M                       CIVIL ENGINEER IV
4          ABASCAL,  REECE E             TRAFFIC CONTROL AIDE-HOURLY
...                      ...                                     ...
33178  ZYLINSKA,  KATARZYNA                           POLICE OFFICER
33179     ZYMANTAS,  LAURA C                          POLICE OFFICER
33180      ZYMANTAS,  MARK E                          POLICE OFFICER
33181    ZYRKOWSKI,  CARLO E                          POLICE OFFICER
33182   ZYSKOWSKI,  DARIUSZ                  CHIEF DATA BASE ANALYST

             Department Full or Part-Time Salary or Hourly  Typical Hours  \
0                POLICE                 F           Salary            NaN
1                POLICE                 F           Salary            NaN
2      GENERAL SERVICES                 F           Salary            NaN
3           WATER MGMNT                 F           Salary            NaN
4                  OEMC                 P           Hourly           20.0
...                 ...               ...              ...            ...
33178            POLICE                 F           Salary            NaN
33179            POLICE                 F           Salary            NaN
33180            POLICE                 F           Salary            NaN
33181            POLICE                 F           Salary            NaN
33182              DoIT                 F           Salary            NaN

       Annual Salary  Hourly Rate
0           101442.0          NaN
1            94122.0          NaN
2           101592.0          NaN
3           110064.0          NaN
4                NaN        19.86
...              ...          ...
33178        72510.0          NaN
33179        48078.0          NaN
33180        90024.0          NaN
33181        93354.0          NaN
33182       115932.0          NaN

[33183 rows x 8 columns]>

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
print("THe amount of missing values in the dataframe: ")
print(salaries.isna().sum())

THe amount of missing values in the dataframe:
Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
print("The count of hourly vs salaried employees: ")
print(salaries["Salary or Hourly"].value_counts())

The count of hourly vs salaried employees:
Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
print("Department and employees: ")

print(salaries["Department"].value_counts())

Department and employees:
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [14]:
from scipy.stats import ttest_1samp

In [21]:
# Your code here:
# H0 hourly wage of all hourly workers is = 30$/hour
# H1 hourly wage of all hourly workers is != 30$/houe


# Store the panda series of hourly rate in variable "hourly"
hourly = salaries["Hourly Rate"]

#applied scipy function for 1 sample test where hourly ois the sample observation,
#30 is the popmean an we omit de nan values as there are so many
ttest_1samp(hourly, 30, nan_policy="omit")

Ttest_1sampResult(statistic=20.619805785494147, pvalue=4.323024048614701e-92)

In [22]:
# p-value is lower than 0.05 so we reject our null hypothesis that all hourly workers are paid $30/HOUR

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [28]:
# Your code here:

#H0 annual salary police worker is = $86000
#H1 annual salary police worker is !=$86000 #two sided

In [29]:
police_salaries = salaries.loc[salaries["Department"] == "POLICE"]
police_salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [30]:
police_annual_salary = police_salaries["Annual Salary"]

y = ttest_1samp(police_annual_salary, 86000, nan_policy="omit")

In [31]:
y

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.00206034035510054)

In [33]:
#if one sided test I would reject as well
y[1]/2

0.00103017017755027

In [ ]:
#The hypothesis is rejected because the probability that the annual salary of the police worker is $86000 is 0.02%

In [32]:
# The alternative parameter is not available for ttest_1samp anymore
r = ttest_1samp(police_annual_salary, 86000, nan_policy="omit", alternative='greater')

TypeError: ttest_1samp() got an unexpected keyword argument 'alternative'

In [ ]:
# The alternative parameter is not available for ttest_1samp anymore

Using the `crosstab` function, find the department that has the most hourly workers.

In [34]:
salaries.head

<bound method NDFrame.head of                         Name                              Job Titles  \
0          AARON,  JEFFERY M                                SERGEANT
1            AARON,  KARINA   POLICE OFFICER (ASSIGNED AS DETECTIVE)
2        AARON,  KIMBERLEI R                CHIEF CONTRACT EXPEDITER
3        ABAD JR,  VICENTE M                       CIVIL ENGINEER IV
4          ABASCAL,  REECE E             TRAFFIC CONTROL AIDE-HOURLY
...                      ...                                     ...
33178  ZYLINSKA,  KATARZYNA                           POLICE OFFICER
33179     ZYMANTAS,  LAURA C                          POLICE OFFICER
33180      ZYMANTAS,  MARK E                          POLICE OFFICER
33181    ZYRKOWSKI,  CARLO E                          POLICE OFFICER
33182   ZYSKOWSKI,  DARIUSZ                  CHIEF DATA BASE ANALYST

             Department Full or Part-Time Salary or Hourly  Typical Hours  \
0                POLICE                 F           Salary            NaN
1                POLICE                 F           Salary            NaN
2      GENERAL SERVICES                 F           Salary            NaN
3           WATER MGMNT                 F           Salary            NaN
4                  OEMC                 P           Hourly           20.0
...                 ...               ...              ...            ...
33178            POLICE                 F           Salary            NaN
33179            POLICE                 F           Salary            NaN
33180            POLICE                 F           Salary            NaN
33181            POLICE                 F           Salary            NaN
33182              DoIT                 F           Salary            NaN

       Annual Salary  Hourly Rate
0           101442.0          NaN
1            94122.0          NaN
2           101592.0          NaN
3           110064.0          NaN
4                NaN        19.86
...              ...          ...
33178        72510.0          NaN
33179        48078.0          NaN
33180        90024.0          NaN
33181        93354.0          NaN
33182       115932.0          NaN

[33183 rows x 8 columns]>

In [47]:
# Your code here:
pd.crosstab(salaries["Department"], salaries["Salary or Hourly"]).sort_values("Hourly", ascending = False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [55]:
# Your code here:
salaries_streetsan = salaries.loc[salaries['Department'] == "STREETS & SAN"]

ttest_1samp(salaries_streetsan, 35, nan_policy= "omit")

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [58]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [97]:
# Your code here:
from scipy.stats import t
from scipy import stats

t.interval(0.95, len(salaries["Hourly Rate"])-1, np.mean(salaries["Hourly Rate"]), np.std((salaries["Hourly Rate"])))

(9.048965297056633, 56.52815013550593)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [101]:
# Your code here:

police_hours = salaries.loc[salaries['Department'] == "POLICE"]

salaries_pol = salaries.loc[salaries["Department"]== "POLICE"]["Annual Salary"]

t.interval(0.95, len(salaries_pol)-1, np.mean(salaries_pol), np.std((salaries_pol)))

(50671.609200468425, 122301.21980579835)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: